{% extends 'base.html' %}

{% block content %}

<title>login</title>
<form name="form" method="post">
<h1>login</h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">username </label>
                </td>
                <td>
                    <input name="username" type="text" value="{{ username }}">
                </td>
                <td>
                    <span class="error">{{ error_username }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">password </label>
                </td>
                <td>
                    <input name="password" type="password">
                </td>
                <td>
                    <span class="error">{{ error_password }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" name="submit" value="submit">
    <p>don't have an account? <a href="/signup">create one!</a></p>
</form>

{% endblock %}
